In [4]:
import pandas as pd
import numpy as np

In [5]:
path = "C:\\Users\\User\\Documents\\GitHub\\Springboard-DSC\\Take home challenges\\ultimate_challenge\\logins.json"
json_file = pd.read_json(path)

In [30]:
json_file.head()
json_file['login_time'] = pd.to_datetime(json_file.login_time,unit='s')
json_file.set_index('login_time',inplace=True)

In [35]:
l = json_file.resample("5T").sum()
l.tail()

                      index
login_time
1970-04-13 18:35:00  279391
1970-04-13 18:40:00  372537
1970-04-13 18:45:00  186270
1970-04-13 18:50:00  279417
1970-04-13 18:55:00   93140

In [26]:
json_file.groupby(pd.TimeGrouper(freq='15Min')).aggregate(np.sum)

AttributeError: module 'pandas' has no attribute 'TimeGrouper'

In [29]:
json_file.groupby([json_file['login_time'].map(lambda t: t.minute)])