# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [52]:
import pandas as pd

## imports for Python, Pandas

In [53]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [54]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [55]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [56]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [57]:
# load json as string
# json.load((open('/Users/emmanuels/Documents/GitHub/Springboard-DSC/data_wrangling_json/data/world_bank_projects_less.json')))

In [58]:
sample_json_df = pd.read_json('/Users/emmanuels/Documents/GitHub/data_wrangling_json/data/world_bank_projects_less.json')

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [59]:
json_file = pd.read_json('/Users/emmanuels/Documents/GitHub/data_wrangling_json/data/world_bank_projects.json')

In [60]:
#top 10 countries with the most projects
json_file.groupby('countryshortname')['project_name'].size().nlargest(10)

countryshortname
China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Africa                11
Mozambique            11
Name: project_name, dtype: int64

In [61]:
#top 10 major project themes using column 'mjtheme_namecode'
pd.DataFrame([a[0].get('name') for a in json_file.mjtheme_namecode]).groupby(0).size().nlargest(10)

0
Environment and natural resources management    85
Human development                               72
Public sector governance                        64
Social protection and risk management           57
Rural development                               56
Financial and private sector development        53
Social dev/gender/inclusion                     43
Trade and integration                           25
Urban development                               23
Economic management                             11
dtype: int64

In [65]:
import numpy as np
#dataframe with filled in values
json_filled = pd.DataFrame(a[0].get('name') for a in json_file.mjtheme_namecode)
#replace empty spaces with NaN
json_filled = pd.DataFrame(json_filled[0].replace('',np.NaN))
# #fill NaN values with the mode
json_filled = json_filled.fillna(json_filled[0].ffill())
json_filled

                                                0
0                               Human development
1                             Economic management
2                           Trade and integration
3                     Social dev/gender/inclusion
4                           Trade and integration
5           Social protection and risk management
6                        Public sector governance
7    Environment and natural resources management
8                               Rural development
9                        Public sector governance
10                              Rural development
11                              Rural development
12                              Human development
13                          Trade and integration
14          Social protection and risk management
15                              Rural development
16                              Rural development
17                              Human development
18                              Human development
19                       Public sector governance
20                    Social dev/gender/inclusion
21                              Urban development
22                    Social dev/gender/inclusion
23                              Human development
24                              Rural development
25   Environment and natural resources management
26       Financial and private sector development
27   Environment and natural resources management
28                              Rural development
29                    Social dev/gender/inclusion
..                                            ...
470                         Trade and integration
471                             Rural development
472  Environment and natural resources management
473  Environment and natural resources management
474                             Urban development
475      Financial and private sector development
476                             Rural development
477      Financial and private sector development
478                      Public sector governance
479                   Social dev/gender/inclusion
480                      Public sector governance
481                             Human development
482                             Rural development
483  Environment and natural resources management
484                             Rural development
485                             Human development
486                      Public sector governance
487  Environment and natural resources management
488                             Human development
489                             Urban development
490                      Public sector governance
491                             Rural development
492                             Human development
493  Environment and natural resources management
494         Social protection and risk management
495      Financial and private sector development
496                             Human development
497                             Rural development
498                             Rural development
499                             Urban development

[500 rows x 1 columns]